<table class="table">
	<thead class="thead-light">
		<tr>
			<th>Titolo</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% model.each do |questionnaire| %>
		<tr>
			<td>
				<%= questionnaire.title %>
			</td>
			<td>
				<%= link_to "Mostra", questionnaire_path(questionnaire), class: "badge badge-primary" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
