<%= cell(:navigation, {email: current_user.email, title: "Benvenuto utente"}.to_dot.freeze).(:navigation) do %>
	<% capture do %>
		<p id="notice"><%= notice %></p>
		<div style="padding-bottom: 25px;">
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page">Questionari</li>
				</ol>
			</nav>
		</div>
		<%= cell(:questionnaire_table, @questionnaires).(:show) %>
	<% end %>
<% end %>
