<%= cell(:navigation, {email: current_user.email, title: "Benvenuto utente"}.to_dot.freeze).(:navigation) do %>
	<% capture do %>
		<p id="notice"><%= notice %></p>
		<h1>Questionari</h1>
		<%= cell(:questionnaire_table, @questionnaires).(:show) %>
	<% end %>
<% end %>
